body{max-width: 1200px;
margin: 0 auto;}
nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navTitle
   {color: #131318;
   font-size: 36px;
   font-weight: 800;
   font-family: 'Mulish', sans-serif;
   }

.navOptions{
    color:  #424247;
text-align: center;
font-family: 'Mulish', sans-serif;
font-size: 18px;
font-weight: 400;


}
.navOptions a{text-decoration: none; 
padding: 20px; 
color: #424247;
text-align: center;
font-family: 'Mulish', sans-serif;
font-size: 18px;
font-weight: 700;

}
.nav1{
    color: #FF5400;

}
.banner{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 500px;
    margin-bottom:100px ;
}

.bannerTitle{
    padding-top: 200px;
    color: #FFF;
font-family: Mulish;
font-size: 100px;
font-weight: 900;

}

.bannerDescrip{color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 20px;
font-weight: 600;
}




.popularcollab{display: flex;}
.popularTextContainer{text-align: left;}
.popularTitle{color: #131318;
  text-align: left;
    font-family: Mulish;
    font-size: 40px;
     font-weight: 800;
   }
.popularDescrip{
    color: rgba(19, 19, 24, 0.70);
text-align: left;
font-family: Mulish;
font-size: 16px;

font-weight: 400;
line-height: 26px;
}
.popTour{
    font-weight: bold;
    font-size: larger;
}
.readButton{
    background-color: #FF5400;
    color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 10px;
border-radius: 5px;

}
.chooseDivTitle{
color: #131318;
text-align: center;
font-size: 24px;
font-weight: 800;
}
.whyRow1{display: flex;}


.whyusDescrip{

color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px; 
font-weight: 400;
 }
.whyusTitle{
color: #131318;

text-align: center;
font-family: Mulish;
font-size: 40px;

font-weight: 800;

}
.whyRow1 p,.chooseDivTitle{
    text-align: left;
 }
 .priceGar h3,.whyusDescrip{text-align: left;}
.whyusDivDescrip{

    color: rgba(19, 19, 24, 0.70);
text-align: left;
font-family: Mulish;
font-size: 16px; 
font-weight: 400;
padding-top: 0px;
}

.chooseDivTitle{padding-bottom: 0px;}
.pickHotels{margin-right: 10px;
    padding-left: 20px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);

background: rgba(251, 181, 99, 0.05);
}
.service{margin-left: 10px;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);

background: rgba(41, 206, 246, 0.05);
padding-left: 20px;
}

.priceGar{justify-content: center;
    width: 573px;
height: 284px;
padding-left: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
margin-top: 24px;
margin-left: 300px;}
.placeImages >div>div{
    color:white;
    font-size: 24px;
    font-weight: 600;
    width: 550px;
    height: 300px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
   margin: 10px;
   background-size: cover;
}
.row-1{
    display: flex;
}
.row-2{
    display: flex;
}
.row-3{
    display: flex;
}


.Maldives{background-image: url(../images/maldivs.png);}
        .Indonesia{background-image: url(../images/indonesia.png);}
        .srilanka{background-image: url(../images/stilanka.png);}
       .northamerica{background-image: url(../images/northAmerica.png);}
       .kashmir{background-image: url(../images/kashmir.png);}
     .bangladesh{background-image: url(../images/bangladesh.png);}
    .bandarban{background-image: url(../images/bandarban.png);}


.row-1>.Maldives{width: 50%;}
.row-1>.Indonesia{width: 50%;}
.row-3> .bangladesh{width: 40%;}
.row-3> .bandarban{width: 60%;}
.row-2>.srilanka{width:33% ;}
.row-2>.northamerica{width:43% ;}
.row-2>.kashmir{width:23% ;}



.dealsDiscount{width:1200px;
    
    padding-left: 10px;
}

.dealsDiscountTitle{
color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
}

.dealsDiscountDescrip{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
    }
  


.pacage1{
    width: 1200px;
    height: 700px;
    background-image: url(../images/pakage1.png);
    background-repeat: no-repeat;
    font-size: 16px;
    
}

.pakageDescrip{
    position: relative;
    left: 500px;
color: #5A5A5D;
font-size: 8px;
font-weight: 400;
text-align: left;
background: rgba(255, 255, 255, 0.80);
width: 500px;
height: 550px;


}

.pakageTitle{margin-left: 20px;
    color: #131318;
font-size: 24px;
font-weight: 800;

}
.pakageDescription{
    color: #5A5A5D;
    font-size: 16px;
text-align: left;
font-weight: 400;
line-height: 26px;

}


.bookButton{width: 150px;
    height: 52px;
    margin-left: 220px;
    justify-content: center;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
background-color: #FF5400;
border: 30px;
border-radius: 5px;
padding: 3px;

}


.pacage2{
    height: 700px;
    background-image: url(../images/pakage2.png);
    background-repeat: no-repeat;

}


 .pakageDescrip2{
    position: relative;
    left: 50px;
    color: #5A5A5D;
font-size: 8px;
font-weight: 400;
text-align: left;
border-radius: 16px;
border: 2px solid #FFF;

background: rgba(255, 255, 255, 0.80);

backdrop-filter: blur(2.5px);

width: 579px;
height: 550px;

}

.pacage3{
    
    height: 700px;
    background-image: url(../images/pakage1.png);
    background-repeat: no-repeat;

  
    
}


.pakageDescrip p{
    font-size: 16px;
   padding: 10px;
}

.price{color: #FF5400;
    font-family: Mulish;
    font-size: 16px;
 text-align: left;
    font-weight: 800;
}









.lostcollab{
    display: flex;
    margin-bottom: 100px;
}

.lostText{
    width: 50%;
}
.lostTitle{
    color: #131318;
font-size: 40px;
font-weight: 800;

}

.lostDescrip{
    color: #5A5A5D;

    text-align: left;

font-size: 16px;

font-weight: 400;
line-height: 26px;
}
.video{padding-left: 200px;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    
    width: 50%;
}

.seeButton{
    background-color: #FF5400;
    color: #FFF;
    font-size: 12px;
    border-radius: 3px;
    padding-left: 10px;
}






.p1{display:flex;
margin-bottom: 10px;}
.p1 img{height: 200px;
width: 400px;
padding: 10px;}
.navIcon{display: none;}







.divCollab
{margin-top: 30px;
    display: flex;
gap: 30px;

}
.newsletter{
border:1px solid #FF5400;
width: 50%;
padding: 20px;

}
.newsletter input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}
.newTitle{

color: #131318;
font-size: 40px;
font-weight: 800;
padding-bottom: 0px;

}

.newdecrip{
    margin-top: 0px;
    padding-left: 10px;
    width: 350px;
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
text-align: left;
}

.subButton{margin-left: 10px;
   width: 85%;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;

    text-align: center;
   
    font-size: 20px;
  
    font-weight: 800;}




.savePart{width: 50%;
    
height: 422px;
border-radius: 16px;
background-image: url(../images/Rectangle\ 8\ \(1\).png);
background-repeat: no-repeat;
background-size: cover;
}





.save{
    color: #FFF;
    text-align: center;

font-family: Mulish;
font-weight: 400;
background-color: #FF5400;
border-radius: 20px;
height: 150px;
width: 280px;
position: relative;
left: 270px;
top: 175px;
transform: rotate(-35deg);
}


.save1{
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
    

}
.save2{
    padding-top: 0px;
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 10px;
   

}



footer{
    background: rgba(19, 19, 24, 0.05);
}
footer h3,p{font-size: 32px;
    /* font-weight: 800; */

    font-family: Mulish;
    text-align: center;
    justify-content: center;
  

}

.span1{
color: #FF5400;
}
.footerDescrip
   {
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
padding-bottom: 20px;
}
.socialLinks { display: flex;
    justify-content: center;
   }
.socialLinks >div{ margin-right: 10px;
    padding-right: 10px;


}
.copyright{
    color: #131318;
font-size: 16px;
font-weight: 300;
}
.price{font-size: 20px;}

@media (width < 600px)  {
    body{max-width: 600px;}
    nav a{display: none;}
    .navIcon{display: block;}
.popularcollab{display:block;}
.lostcollab{display: block;}
.lostcollab>div{display: block;
width: 80%;}

.video{margin-left: 0;
padding-left: 0;
width: 600px}

.row-1{display:flex ;
    flex-direction: column;
width: 599px ;}
.row-2{display: flex;
    flex-direction: column;
    column-gap: 0px;
width: 599px;}


.row-1,.row-2,.row-3 {
    display: block;
    justify-content: left;
}
.row-2>.srilanka{width: 60% ;}
.row-2>.northamerica{width:60% ;}
.row-2>.kashmir{width:60% ;}
.row-3> .bangladesh{width: 100%;}
.row-3> .bandarban{width: 100%;}
.banner{
    height: 1000px;
}

.priceGar{justify-content: left;
margin-left: 0;}
.p1{display: block;}
.divCollab{display: block;}
.save{position: relative;
left: 70px;}
.save img{width: 100%};

.pacage1{width: 70%;
height: 500px;
margin-left: 0px;}
.dealsDiscount{width: 70%;}
    }
    
    




