body{max-width: 1200px;
margin: 0 auto;}


.placeImages{
    border: 10px solid red;
}

.whyusDescrip{

color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px; 
font-weight: 400;
 }




 .whyusTitle{
color: #131318;

text-align: center;
font-family: Mulish;
font-size: 40px;

font-weight: 800;

}

.placeImages >div>div{
    color:white;
    font-size: 24px;
    font-weight: 600;
    width: 550px;
    height: 300px;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
   margin: 10px;
   background-size: cover;
}
.row-1{
    display: flex;
}
.row-2{
    display: flex;
}
.row-3{
    display: flex;
}


.Maldives{background-image: url(../images/maldivs.png);}
        .Indonesia{background-image: url(../images/indonesia.png);}
        .srilanka{background-image: url(../images/stilanka.png);}
       .northamerica{background-image: url(../images/northAmerica.png);}
       .kashmir{background-image: url(../images/kashmir.png);}
     .bangladesh{background-image: url(../images/bangladesh.png);}
    .bandarban{background-image: url(../images/bandarban.png);}


.row-1>.Maldives{width: 50%;}
.row-1>.Indonesia{width: 50%;}
.row-3> .bangladesh{width: 40%;}
.row-3> .bandarban{width: 60%;}
.row-2>.srilanka{width:33% ;}
.row-2>.northamerica{width:43% ;}
.row-2>.kashmir{width:23% ;}



























.dealsDiscount{width:1200px;
    padding: 10px;
    margin-bottom: 10px;
}

.dealsDiscountTitle{
color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;


}

.dealsDiscountDescrip{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
    }
  


.pacage1{
    height: 700px;
    background-image: url(../images/pakage1.png);
    background-repeat: no-repeat;

  
    
}

.pakageDescrip{
    position: relative;
    left: 500px;
color: #5A5A5D;
font-size: 8px;
font-weight: 400;
text-align: left;
border-radius: 16px;
border: 2px solid #FFF;

background: rgba(255, 255, 255, 0.80);

backdrop-filter: blur(2.5px);

width: 579px;
height: 550px;
flex-shrink: 0;

}

.pakageTitle{
    color: #131318;
font-size: 24px;
font-weight: 800;

}
.pakageDescription{
    color: #5A5A5D;
    font-size: 16px;
text-align: left;
font-weight: 400;
line-height: 26px;

}
.price{color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
 text-align: left;
    font-weight: 800;
}

.bookButton{width: 150px;
    height: 52px;
    margin-left: 220px;
    justify-content: center;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
background-color: #FF5400;
border: 30px;
border-radius: 5px;
padding: 3px;

}


.pacage2{
    height: 700px;
    background-image: url(../images/pakage2.png);
    background-repeat: no-repeat;

}
 .pakageDescrip2{
    position: relative;
    left: 50px;
    color: #5A5A5D;
font-size: 8px;
font-weight: 400;
text-align: left;
border-radius: 16px;
border: 2px solid #FFF;

background: rgba(255, 255, 255, 0.80);

backdrop-filter: blur(2.5px);

width: 579px;
height: 550px;
flex-shrink: 0;
}

.pacage3{
    
    height: 700px;
    background-image: url(../images/pakage1.png);
    background-repeat: no-repeat;

  
    
}














.lostcollab{
    display: flex;
    margin-bottom: 100px;
}

.lostText{
    width: 50%;
}
.lostTitle{
    color: #131318;
font-size: 40px;
font-weight: 800;

}

.lostDescrip{
    color: #5A5A5D;

    text-align: left;

font-size: 16px;

font-weight: 400;
line-height: 26px;
}
.video{padding-left: 200px;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    
    width: 50%;
}

.seeButton{
    background-color: #FF5400;
    color: #FFF;
    font-size: 12px;
    border-radius: 3px;
    padding-left: 10px;
}

















.divCollab
{display: flex;
gap: 30px;

}
.newsletter{
border:1px solid #FF5400;
width: 50%;

}
.newsletter input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
}
.newTitle{

color: #131318;
font-size: 24px;
font-weight: 800;
padding-bottom: 0px;

}

.newdecrip{
    padding-top: 0px;
    padding-left: 10px;
    width: 350px;
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
text-align: left;
}

.subButton{margin-left: 10px;
   width: 80%;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;

    text-align: center;
   
    font-size: 20px;
  
    font-weight: 800;}




.savePart{width: 50%;
    /* width: 672px; */
height: 422px;
border-radius: 16px;
background-image: url(../images/Rectangle\ 8\ \(1\).png);
background-repeat: no-repeat;
background-size: cover;
}





.save{
    color: #FFF;
    text-align: center;

font-family: Mulish;
font-weight: 400;
background-color: #FF5400;
border-radius: 20px;
height: 150px;
width: 280px;
position: relative;
left: 360px;
top: 200px;
transform: rotate(-35deg);
}


.save1{
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
    

}
.save2{
    padding-top: 0px;
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 10px;
   

}



















footer{
    background: rgba(19, 19, 24, 0.05);
}
footer h3,p{font-size: 32px;
    /* font-weight: 800; */

    font-family: Mulish;
    text-align: center;
    justify-content: center;
  

}

.span1{
color: #FF5400;
}
.footerDescrip
   {
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
padding-bottom: 20px;
}
.socialLinks { display: flex;
    justify-content: center;
   }
.socialLinks >div{ margin-right: 10px;
    padding-right: 10px;


}
.copyright{
    color: #131318;
font-size: 16px;
font-weight: 300;
}